/* common css */
*{
  margin: 0;
  padding: 0;
}
.primary-color{
  color: red;
}
.title{
  font-size: 55px;
  font-weight: bold;
  color: white;
}
.description{
  color: white;
  padding: 10px;
  width: 50%;
  margin: auto;
}
.btn{
  padding: 12px 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  
}
.bg-primary{
  background-color: red;
  color: white;
}
/* nav related css */
.nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(163, 159, 159);
  padding: 10px;
}
.menus{
  display: flex;
  list-style: none;
  color: white;
  gap: 15px;
  font-size: 20px;
}
.banner-container{
  height: 100vh;
  background-image: url("../asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
}
